{% extends 'base_site.html' %}

{% block title %}核心网主页{% endblock title %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet">
{% endblock extra_head %}

{% block side-bar %}
    <ul class="nav nav-sidebar">
            <li class="active"><a href="#">upload</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
        </ul>
{% endblock %}

{% block content_main %}
    <h1>Ajax test</h1>
    <form id="form" method="post">
    {% csrf_token %}
        <input type="text" id="input" />
        <input type="button" id="submit" value="Ajaxsubmit" />
    </form>
    <div id="show"></div>
{% endblock %}

{% block bootstrap3_extra_script %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#show').hide();
        $('#submit').click(function(){
        $.ajax({
            url:'/ajaxtest/input/',
            type:"POST",
            data:{input:$("#input").val()},
                   dataType:"html"
            }).done(function(msg){
                $('#show').html(msg).show();
            }).fail(function(jqXHR,textStatus){
                alert("rquest failed" +textStatus);
            });
        });
    });
</script>
{% endblock %}