<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<h1>register</h1>
<form method="post" enctype="multipart/form-data" >
{{uf.as_p}}
<a href="#nogo" id="upfile" class="btn  btn-info">很简单的JS点击弹窗</a>
</form>
</body>

<script type="text/javascript">
$(document).ready(function(){
        $('#show').hide();
        $('#upfile').click(function(){
        $.ajax({
            url:"/ajaxtest/ftest/",
            type:"POST",
            data:{input:$("#input").val()},
                   dataType:"html"
            }).done(function(msg){
                $('#show').html(msg).show();
            }).fail(function(jqXHR,textStatus){
                alert("rquest failed" +textStatus);
            });
        });
    });
</script>

</html>

