{% extends 'base_site.html' %}

{% block title %}上传文件{% endblock %}

{% block extra_head %}
    <link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-dialog.min.css">
{% endblock extra_head %}

{% block side-bar %}
    <ul class="nav nav-sidebar">
            <li class="active"><a href="/ajaxtest">ajaxtest</a></li>
            <li><a href="/core_file/uploadduty">上传文件</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
        </ul>
        <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
        </ul>
{% endblock %}

{% block content_main %}
    <h1>Ajax test</h1>
    <form id="form" method="post">
    {% csrf_token %}
        <input type="text" id="input" />
        <input type="button" id="submit" value="Ajaxsubmit" />
    </form>
    <div id="show"></div>
    <!-- Button to trigger modal -->
	<a href="#nogo" id="openDialog" class="btn  btn-info">很简单的JS点击弹窗</a>
    <a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">查看演示案例</a>

    


{% endblock %}

{% block bootstrap3_extra_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dialog.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('#show').hide();
        $('#submit').click(function(){
        $.ajax({
            url:"/ajaxtest/input/",
            type:"POST",
            data:{input:$("#input").val()},
                   dataType:"html"
            }).done(function(msg){
                $('#show').html(msg).show();
            }).fail(function(jqXHR,textStatus){
                alert("rquest failed" +textStatus);
            });
        });
    });
    $("#openDialog").click(function(){
		BootstrapDialog.show({
            title: 'Default Title',
            message: $('<div></div>').load('/core_file/ftest/'),
            buttons: [{
                label: 'Title 1',
                action: function(dialog) {
                    dialog.setTitle('Title 1');
                }
            }, {
                label: 'Title 2',
                action: function(dialog) {
                    dialog.setTitle('Title 2');
                }
            }]
        });
	});


</script>
{% endblock %}